.head{
	height: 40px;
	width: 100%;
	background: #333333;
	margin: 0 auto;
}
.head-left{
	height: 100%;
	width: 650px;
	float: left;
}
.head-right{
	height: 100%;
	width: 290px;
	float: right;
}
.text-a{
	font-size: 14px;
	color: #9e9e89;
	float: left;
	line-height: 40px;
}
.text-a:hover{
	color: #fff;
}
.gun{
	font-size: 14px;
	color: #3d3935;
	float: left;
	line-height: 40px;
	margin: 0 6px;
}
.head-bacf{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.a{
	height: 40px;
	width: 160px;
	float: left;
}
.aa{
	font-size: 14px;
	color: #b0b0b0;
	line-height: 40px;
	float: left;
}
.aa:hover{
	color: #fff;
}
.ab{
	font-size: 14px;
	color: #423c37;
	line-height: 40px;
	float: left;
	margin: 0 6px;
}
.b{
	width: 130px;
	height: 40px;
	float: right;
	line-height: 100%;
	text-align: center;
	background: #424242;
	position: relative;
}
.hd-rg{
	width: 290px;
	height: 100px;
	background: #fff;
	position: absolute;
	left: -150px;
	display: none;
	z-index: 5;
}
.b:hover{
	display: block;
}
.b:hover .ba{
	background: #fff;
	color: #ff6700;
}
a{
	text-decoration: none;
}
.ba{
	font-size: 14px;
	color: #b0b0b0;
	line-height: 40px;
}
/* 导航开始 */
.ddddd{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.ddddd .picture{
	width: 234px;
	height: 100%;
	float: left;
}
.ddddd .picture img{
	margin-top: 23px;
	float: left;
}
.zhongjianwenzi{
	width: 696px;
	height: 100px;
	float: left;
	
}
.txt{
	line-height: 100px;
	font-size: 14px;
	color: #333333;
	float: left;
	margin: 0 20px;
	margin-left: 0;
}
.sousuo{
	width: 270px;
	height: 100%;
	float: right;
}
.box{
	border: 1px solid #eeeeee;
	width: 270px;
	height: 50px;
	line-height: 100%;
	margin: 25px 0;
}
.box-s{
	border-left: 1px solid #eeeeee;
	width: 50px;
	height: 50px;
	float: right;
}
.box-s img{
	
	margin: 0;
	width: 100%;
	height: 100%;
}
/* 导航结束 */
/* 轮播图 */
.big-box{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	background: #FF0000;
	position: relative;

}
.big-box-picture{
	width: 1226px;
	height: 460px;

}
.big-box .big-box-picture li{
	position: absolute;
	left: 0;
	right: 0;
}
.big-box .big-box-picture>ul>li img{
	width: 1226px;
	height: 460px;
}
.big-box-list{
	width: 234px;
	height: 460px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}
.big-box-list ul{
	width: 100%;
	height: 100%;
	margin-top: 20px;
	box-sizing: border-box;
}
.big-box-list ul li{
	height: 42px;
	width: 100%;
	color: #FFFF;
	cursor: pointer;
	line-height: 42px;
}
.big-box-list ul li:hover{
	background: #FF6700;
	display: block;
}
.big-box-list ul li .maishouji{
	width: 993px;
	background: #fff;
	position: absolute;
	left: 234px;
	top: 0;
	display: none; 
	z-index: 24;
    height: 460px;
    border: 1px solid #e0e0e0;
	border-left: 0;
    box-shadow: 0 0 16px rgba(0,0,0,0.18);	
	box-sizing: border-box;
}
.big-box-list .maishouji .com{
	width: 248px;
	height: 460px;
	float: left;
	font-size: 14px;
	color: #333;
    margin-top: 0px;
}
.big-box-list .maishouji .big-box-list-col1 .tiaozhuan{
	width: 248px;
	height: 76.666px;
	line-height: 76.666px;
}
.big-box-list .maishouji .big-box-list-col1 .tiaozhuan a>img{
	width: 40px;
	height: 40px;
	float: left;
	margin: 13.333px 20px 13.333px 30px;
}
.big-box-list .maishouji .big-box-list-col1 .tiaozhuan>img{
	width: 40px;
	height: 40px;
	float: left;
	margin: 13.333px 20px 13.333px 30px;
}
.big-box-list .maishouji .big-box-list-col1 .tiaozhuan .miaoshu{
	float: left;
	font-size: 14px;
	color: #333;
}
.big-box-list ul li:hover .maishouji{
	display: block;
}
.big-box-list .zuo{
	float: left;
	height: 100%;
	line-height: 42px;
	margin-left: 30px;
}
.big-box-list .you{
	float: right;
	height: 100%;
	line-height: 42px;
	margin-right: 20px;
	
}
.flag{
	position: absolute;
	width: 41px;
	height: 69px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.left-arrow{
	left: 234px;
	background-image: url(../img/arrow.png);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}
.right-arrow{
	right: 0;
	background-image: url(../img/arrow.png);
	background-position:-42px 0;
	background-repeat: no-repeat;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.point-pox{
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 25px;
}
.point-pox>div{
	float: right;
	margin-right: 20px;
}
.point-pox>div>div{
	width: 10px;
	height: 10px;
	background: rgba(0,0,0,0.6);
	float: left;
	margin-left: 10px;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0.2);
}
.point-pox>div .small{
	background: rgba(0,0,0,0);
	border: 2px solid rgba(0,0,0,0.5);
}

/* 轮播图结束 */
/* 广告 */
.advertisement{
	width: 1226px;
	height: 170px;
	margin: 14px auto 20px auto;
}
.advertisement .zuotu{
	width: 234px;
	float: left;
	height: 170px;
}
.advertisement .zuotu .biankuang{
	width: 234px;
	height: 170px;
	box-sizing: border-box;
	padding: 3px;
	text-align: center;
	background: #5f5750;
}
.advertisement .zuotu .biankuang li{
	width: 76px;
	height: 82px;
	float: left;
	position: relative;
	padding-top: 15px;
	box-sizing: border-box;
	color: rgba(255,255,255,0.7);
}
.strip{
	position: absolute;
	background: #665e57;
}
.line1{
	top: 6px;
	left: 0;
	width: 1px;
	height: 70px;
}
.line2{
	top: 6px;
	right: 0;
	width: 1px;
	height: 70px;
}
.line3{
	bottom: 6px;
	left: 0;
	width: 1px;
	height: 70px;
}
.line4{
	bottom: 6px;
	right: 0;
	width: 1px;
	height: 70px;
}
.line5{
	left: 6px;
	bottom: 0;
	width: 64px;
	height: 1px;
}
.line6{
	left: 6px;
	bottom: 0;
	width: 64px;
	height: 1px;
}
.line7{
	left: 6px;
	bottom: 0;
	width: 64px;
	height: 1px;
}
.phone{
	height: 24px;
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 24px;
}
.biankuang span{
	font-size: 12px;
}
.advertisement .youtu{
	width: calc(1226px - 234px - 14px);
	height: 100%;
	float: right;
}
.advertisement .youtu li{
	width: 316.67px;
	height: 170px;
	background: #333333;
	float: left;
	margin-left: 14px;
}
.advertisement .youtu .item{
	margin-left: 0;
}
.advertisement .youtu img{
	width: 316.67px;
	height: 170px;
}
/* 广告结束 */
/* <!-- 闪购 --> */
.Flash-purchase{
	width: 1226px;
	margin: 0 auto;
	height: 438px;
	padding-bottom: 40px;
	box-sizing: border-box;
}
.fpt{
	height: 58px;
}
.title{
	font-size: 22px;
	line-height: 58px;
	font-weight: 200;
	color: #333;
	float: left;
}
.more{
	width: 68px;
	height: 25px;
	float: right;
	border: 1px solid #e0e0e0;
	margin-top: 24px;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	color: #e0e0e0;
}
.more .more-lefe{
	width: 33.5px;
	height: 25px;
	float: left;
}
.more .more-right{
	width: 33.5px;
	height: 25px;
	border-left: 1px solid #e0e0e0;
	float: right;
}
.fpb{
	width: 1226px;
	overflow: hidden;
	padding-bottom: 40px;
	height: 380px;
}
.btlef{
	float: left;
	width: 234px;
	height: 340px;
	margin: 0 14px 0 0;
	background: #f1eded;
	text-align: center;
}
.btlef p{
	    font-size: 21px;
		color: #ef3a3b;
		padding-top: 55px;
}
.btlef img{
	margin: 25px auto;
	width: 34px;
	height: 53px;
}
.sub{
	color: rgba(0,0,0,0.54);
	font-size: 15px;
}
.countdown{
	width: 168px;
	margin: 28px auto 0 auto;
}
.box1{
	width: 46px;
	height: 46px;
	background: #605751;
	color: #ffffff;
	float: left;
	font-size: 20px;
	line-height: 46px;
}
.maohao{
	float: left;
	width: 15px;
	height: 46px;
	font-size: 20px;
	line-height: 46px;
	color: #605751;
}
.btrig{
	float: fight;
	width: 978px;
	height: 340px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.shangouyin{
	width: 978px;
	height: 340px;
	position: absolute;
	top: 0;
	left: 0;
}
.shangouyin .yinying{
	background: rgba(0,0,0,0.05);
	margin-right: 14px;
	width: 234px;
	height: 340px;
	float: left;
	cursor: pointer;
}
.shangouyin .shangqu{
	margin: 0;
}
.zhuan{
	width: 2976px;
	height: 340px;
}
.btrig li{
	background: #fff;
	width: 234px;
	height: 340px;
	margin-right: 14px;
	float: left;
	padding-top: 40px;
	box-sizing: border-box;
	text-align: center;
}
.zhuan>li img{
	height: 160px;
	width: 160px;
	margin: 22px auto;
}
.re{
	color: #212121;
	margin: 0 20px 3px;
	font-size: 14px;
	font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.desc{
	height: 18px;
	margin: 0 20px 12px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #b0b0b0;
}
.pirce{
	color: #ff6709;
	margin: 0;
	font-size: 14px;
}
.pirce del{
	color: #b0b0b0;
}
/* <!-- 闪购结束 --> */
.middletu{
	margin: 0 auto;
    width: 1226px;
    height: 120px;
	margin-bottom: 40px;
}
.middletu img{
	width: 1226px;
	height: 120px;
}
main{
	width: 100%;
	height: 6936px;
	background: #f5f5f5;
}
ul,li{
	list-style: none;
}
/* <!-- 手机 --> */
.mobble{
	height: 686px;
	width: 1226px;
	margin: 0 auto;
}
.box-hd{
	width: 1226px;
	height: 58px;
}
.box-hd .title{
	margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.box-hd .see{
	font-size: 16px;
    line-height: 58px;
    color: #424242;
	float: right;
}
.box-hd .see .iconfont{
	width: 58px;
    height: 58px;
    margin-left: 8px;
    font-size: 20px;
    line-height: 12px;
}
.box-by{
	width: 1226px;
	height: 628px;
}
.box-by .balf{
	margin-bottom: 14px;
	margin-right: 14px;
	float: left;
}
.box-by .balf img{
	width: 234px;
	height: 614px;
}
.box-by .barg{
	width: 978px;
	height: 628px;
	margin-bottom: 14px;
	float: right;
}
.box-by .barg>ul>li{
	width: 234px;
	height: 300px;
	margin-right: 14px;
	background: #fff;
	float: left;
	text-align: center;
}
.box-by .barg>ul>li img{
	width: 160px;
	height: 160px;
	margin-top: 20px;
}
.box-by .barg>ul>li h3{
	color: #212121;
    margin: 20px 20px 3px;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box-by .barg .form{
	margin-top: 14px;
}
.box-by .barg .ittm{
	margin-right: 0;
}
/* <!-- 手机结束 --> */
/* <!-- 家电 --> */
.mobble .box-hd .see span{
	margin-left: 20px;
}
.balf .shang img{
	width: 234px;
	height: 300px;
}
.balf .xia img{
	width: 234px;
	height: 300px;
	margin-top: 14px;
}
.barg .upper{
	width: 234px;
	height: 143px;
	float: right;
	background: #fff;
    margin-top: 14px;
}
.barg .upper h3{
	width: 94px;
	height: 21px;
	color: #333;
	margin: 40px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.pirce .qian{
	margin: 30px 3px 5px 30px;
}
.upper .tutu{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 50px;
}
.upper .tutu img{
	width: 80px;
	height: 80px;
	float: right;
}
.barg .lower{
	width: 234px;
	height: 143px;
	margin-top: 14px;
	float: right;
    background: #fff;
	
}
.barg .lower .dazi{
	display: block;
    margin: 40px 20px 0 30px;
    font-size: 18px;
    color: #333;
	float: left;
}
.barg .lower .dazi .xiaozi{
	display: block;
    font-size: 12px;
    color: #757575;
}
.barg .lower .shiliang{
	float: right;
	font-size: 48px;
    line-height: 120px;
	margin-right: 40px;
	color: #ff6700;
}
/* <!-- 家电结束 --> */
/* <!-- 智能 --> */
/* <!-- 智能结束 --> */
/* <!-- 搭配 --> */
/* <!-- 搭配结束 --> */
/* <!-- 配件 --> */
/* <!-- 配件结束 --> */
/* <!-- 周边 --> */
/* 周边结束 */
/* 推荐开始 */
.remmond{
	width: 1226px;
	height: 378px;
	margin: 20px auto;
}
.remmond-top{
	height: 58px;
	width: 1226px;
}
.le{
	width: 200px;
	height: 58px;
	float: left;
}
.fast-left{
	font-size: 22px;
    height: 200px;
	height: 58px;
	line-height: 58px;
	color: #3f3f3f;
	float: left;
}
.ri{
	width: 200px;
	height: 58px;
	float: right;
}
.btn{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
}
.ri-btn-left{
	width: 35px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
	border-right: 1px solid #e7e7e7;
	box-sizing: border-box;
	color: #e9e9e9;
	font-size: 12px;
}
.ri-btn-right{
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
	color: #e9e9e9;
	font-size: 12px;
}
.remmond-bot{
	width: 1226px;
	height: 320px;
	overflow: hidden;
}
.remmond-bot>ul{
	width: calc(1226px * 3);
	height: 100%;
}
.remmond .remmond-bot li{
	width: 234px;
	height: 320px;
	float: left;
	text-align: center;
	margin-left: 14px;
	background: #fff;
}
.remmond .remmond-bot .blo{
	margin: 0;
}
.remmond-bot li img{
	width: 140px;
	height: 140px;
	margin-top: 40px;
}
.remmond .introduce{
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: 15px;
	font-size: 14px;
	color: #454545;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.remmond .price{
	color: #ff6700;
	font-size: 16px;
	margin-top: 15px;
}
.remmond .comment{
	font-size: 12px;
	margin-top: 15px;
	color: #000;
}
/* 推荐结束 */
/* 热评产品 */
.produrct{
	width: 1226px;
	height: 473px;
	background: #333333;
	margin: 0 auto;
}
.produrct .hd{
	width: 1226px;
	height: 58px;
	background: #fff;
	padding-top: 20px;
	box-sizing: border-box;
}
.produrct .hd h3{	
}
.produrct .bd{
	width: 1226px;
	height: 415px;
	background: #fff;
}
.produrct .bd .cow{
	width: 296px;
	height: 415px;
	float: left;
	margin-right: 14px;
}
.produrct .bd .its{
	margin: 0;
}
.produrct .bd .cow>img{
	width: 296px;
	height: 220px;
}
.produrct .bd .cow>p{
	width: 240px;
	height: 72px;
	line-height: 24px;
	margin-left: 30px;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 14px;
}
.produrct .bd .xianzhi{
	width: 296px;
	height: 18px;
}
.produrct .bd .jieshao{
	float: left;
	margin-left: 30px;
	    font-size: 14px;
    font-weight: 400;
}
.produrct .bd .xiaokuang{
	border-left: 1px solid #000000;
	float: right;
	text-align: center;
    margin-right: 120px; 
	color: #ff6700;
}
/* 热评产品结束 */
/* 内容 */
.neirong{
	width: 1226px;
	height: 478px;
	margin: 20px auto 20px auto;
}
.on{
	width: 1226px;
	height: 58px;
	line-height: 58px;
}
.under{
	width: 1226px;
	height: 420px;
}
.neironghezi{
	overflow: hidden;
	width: 1226px;
	height: 420px;
}
.under .neironghezi .neironghezi-item{
	width: 296px;
	margin-right: 14px;
	background: yellow;
	float: left;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 14px;
}
.under .neironghezi .lg{
	margin: 0;
}
.under .neironghezi .neironghezi-item .titllee{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* 内容 */
/* 视频 */
.video{
	width: 1226px;
	height: 343px;
	margin: 0 auto 60px auto;
}
.above{
	width: 100%;
	height: 58px;
	line-height: 58px;
}
.above .hanzi>h2{
    font-size: 22px;
    color: #333;
	font-weight: 200;
}
.below{
	height: 285px;
	width: 100%;
}
.video-item{
	position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    margin-bottom: 14px;
    text-align: center;
    transition: all .2s linear;
	background: #fff;
}
.figure img{
	width: 296px;
	height: 180px;
}
.video-item-first{
	margin-left: 0;
}
.video-item .figure{
	width: 296px;
    height: 180px;
    margin: 0 0 28px 0;
}
.video-item i{
	font-size: 14px;
	margin-top: 28px;
}
.figure-wenzi{
	height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
}
/* 视频结束 */
/* 底部 */
.contain{
	height: ;
	width: 1226px;
	margin: 0 auto;
}
.contain-top{
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	padding: 27px 0;
	overflow: hidden;
	box-sizing: border-box;
}
.contain-top-ttp{
	width: 1226px;
	height: 27px;
}
.contain-top ul li{
	float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
	display: flex;
	justify-content: center;
}
.contain-top ul li:nth-child(1){
	border-left: 0;
}
.contain-top-ttp i{
	margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
}
.contain-top-ttp p{
	font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.contain-bottom{
	width: 1226px;
	height: 123px;
	padding: 40px 0;
}
.clo-links{
	float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}
dt{
	margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
dd{
	margin: 10px 0 0;
    font-size: 12px;
}
.clo-rg{
	float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.phone-num{
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.clo-rg-bot{
	width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
	border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}
/* 底部结束 */
/* 底部2 */
.site-info{
	height: 232px;
	padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.container{
	width: 1226px;
	height: 123px;
    margin-right: auto;
    margin-left: auto;
	position: relative;
}
.logo{
	    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(https://s01.mifile.cn/i/logo-footer.png?v2) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.info-text{
	color: #b0b0b0;
    padding-left: 67px;
}
.site-info .info-text p{
	margin: 0;
    line-height: 18px;
}
.site-info .info-text .sits a{
	color: #757575;
}
.site-info .info-text .sep{
	margin: 0 .25em;
    font-family: sans-serif;
}
.info-text a{
	color: #b0b0b0;
}
.info-links{
    height: 28px;
    margin: 4px 0 0;
    padding-left: 67px;
}
.info-links img{
	width: auto;
    height: 28px;
    margin-left: 0px;
    margin-bottom: 15px;
}
.slogan{
	clear: both;
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(../i/slogan2016.png) no-repeat center 0;
	color: #b0b0b0;
}
/* 底部2结束 */